<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
  </head>

  <body>
    <div id="app" v-cloak>
      <p>Hey {{ getFullName() }}!</p>
      <p>
        <a v-bind:href="url" target="_blank">Link</a>
      </p>

      <hr />

      <label>
        First Name
        <input
          type="text"
          v-model="firstName"
        />
      </label>

      <label>
        Last Name
        <input
          type="text"
          v-model="lastName"
        />
      </label>
    </div>

    <!-- CDN scripts -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Own scripts -->
    <script src="app.js"></script>
  </body>
</html>
