<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <label>
      <input type="checkbox" v-model="isBackgroundPurple" /> Purple Background
    </label>

    <label>
      Text Color
      <select v-model="selectedTextColor">
        <option value="white">White</option>
        <option value="text-black">Black</option>
        <option value="text-orange">Orange</option>
      </select>
    </label>

    <label>
      Radius
      <input
        type="number"
        v-model.number="radius"
      />
    </label>

    <label>
      Rotation
      <input
        type="number"
        v-model.number="rotation"
        min="0"
        max="360"
      />
    </label>

    <div
      class="circle"
      :class="[selectedTextColor, backgroundClasses]"
      :style="circleStyle"
    >
      Hi!
    </div>
  </div>

  <!-- CDN scripts -->
  <script src="https://unpkg.com/vue@next"></script>

  <!-- Own scripts -->
  <script src="app.js"></script>
</body>

</html>